.alert {
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  margin-right: 10px;
  .close {
    font-size: 14px;
    color: #fff;
    opacity: 1;
    cursor: pointer;
    left: 5px;
    position: relative;
    top: 3px;
  }
}
.btn {
  margin-right: 10px;
  &:hover {
    color: #fff;
  }
}
