#search-container {
  padding-bottom: 20px;
  form {
    width: 100%;
    input {
      width: 100%;
      background-color: #e1e1e1;
      font-size: 14px;
      padding: 10px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      &::placeholder {
        color: #9d9d9d;
      }
      &:focus-visible {
        outline-color: #c3393f;
      }
    }
    .bi-search {
      right: 30px;
      top: 9px;
    }
  }
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
