@import "custom-colors.scss";
@import "custom-alerts.scss";
@import "custom-dropdowns.scss";
@import "custom-utils.scss";

#logo-container {
  padding: 50px 0 20px 0;
  img {
    height: 50px;
  }
}

#search-container {
  padding-bottom: 20px;
  form {
    width: 100%;
    input {
      width: 100%;
      background-color: #e1e1e1;
      font-size: 14px;
      padding: 10px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      &::placeholder {
        color: #9d9d9d;
      }
      &:focus-visible {
        outline-color: #c3393f;
      }
    }
    .bi-search {
      right: 30px;
      top: 9px;
    }
  }
}

#dropdowns-container {
  padding-bottom: 20px;
}

#cards-container {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  .card {
    flex: 1 0 29%;
    background-color: #e1e1e1;
    border-radius: 5px;
  }
  img.card-img-top {
    height: 140px;
    background-color: #bab0b0;
  }
  .descriptions {
    font-size: 11px;
    > div:last-child {
      flex: 0 0 60%;
    }
  }
}
