#logo-container {
  padding: 50px 0 20px 0;
  img {
    height: 50px;
  }
}

#search-container {
  padding-bottom: 20px;
  form {
    width: 100%;
    input {
      width: 100%;
      background-color: lightgray;
      font-size: 14px;
      padding: 10px;
    }
  }
}

#dropdowns-container {
  padding-bottom: 20px;
}

#cards-container {
  font-size: 16px;
  font-weight: 300;
  .card {
    flex: 0 0 33%;
  }
  img.card-img-top {
    height: 140px;
    background-color: lightgray;
  }
  .descriptions {
    font-size: 12px;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  height: 90px;
  overflow: auto;
}
